body {
    background-image: url("galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: pink;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: transparent;
    color: pink;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  h2 {
    color: pink;
  }
  
  span button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  p h3 {
    color: pink;
  }
  
  p button {
    background-color: purple;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  