body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 60px;
  }
  
  h1 {
    text-align: center;
    color: #7434a4;
  }
  
  #chart-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #7434a4;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="time"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ffd1dc;
    border-radius: 5px;
    outline: none;
  }
  
  select {
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 25px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #7434a4;
    color: #ffd1dc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #551f76;
  }
  
  #chart-form input[type="text"],
#chart-form input[type="date"],
#chart-form input[type="time"],
#chart-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffd1dc;
  border-radius: 5px;
  box-sizing: border-box;
}

 
  